@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
	--light-background: #e9e9e9;
  --dark-background: #080808;
	--light-text: #fff;
  --dark-text: #080808;
  --main-color: #FFD700;
}
