@import "tailwindcss";

:root {
	--light-background: #9ca7ac;
	--white: #fff;
	--grey: #e3e5e4;
	--black: #191c22;
}

body {
	background-color: var(--light-background);
}

.gradient {
    color: var(--white);
    background: linear-gradient(
      90deg,
      rgba(85, 91, 99, 1) 0%,
      rgba(17, 21, 24, 1) 100%
    );
  }